.states{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.state-card{
    background: #fff;
    border-radius: 12px;
    padding: 14px 20px;
    min-width: 90px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.state-value {
    font-size: 18px;
    font-weight: 700;
    display: block; /*이거 뭐지 궁금하노*/
}

.state-label{
    font-size: 12px;
    color: #777;
}